.appContainer {
    display: grid;
    grid-template-areas: "header header" "sidebar body";
    grid-template-columns: 230px 1fr;
    column-gap: 2rem;
}

.headerContainer {
    grid-area: header;
}

.sidebarContainer {
    grid-area: sidebar;
}

.bodyContainer {
    grid-area: body;
}